body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #d32121;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #555;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #333;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

th, td {
    border: 1px solid #999;
}

footer {
    background-color: #ce2b2b;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.elemento {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
    border: 1px solid #999;
}

.elemento h3 {
    color: #333;
}